
.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet){
        flex-wrap: nowrap;
            justify-content: center;
    }
    &__item {
        margin-left: 8px;
        margin-bottom: 8px;
        }
    @media screen and (min-width: $tablet){
        &__item {
            margin-bottom: 0;
            }
    }
}