// Fonts

$mainFont: "Roboto";
$secondaryFont: "Raleway";

// Colors

$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$button-bg-color: #F5F4FA;
$features-bg-color: #F5F4FA;
$team-bg-color: #F5F4FA;
$color-hover: #188ce8;
$secondary-bg-color: #2F303A;
$footer-address-color: rgba(255, 255, 255, 0.6);
$border-color: #EEEEEE;
$client-color: #AFB1B8;
$team-social-icons: #AFB1B8;
