.clients {
    display: flex; 
    flex-wrap: wrap;
    margin: -15px;
    
    @media screen and (min-width: $desktop){
        flex-wrap: nowrap;
        margin: 0;
    }
}

 .clients__item {
    flex-basis: calc((100% - 2 * 30px)/2);
    margin: 15px;

    @media screen and (min-width: $tablet){
        flex-basis: calc((100% - 3 * 30px)/3);
    }

     @media screen and (min-width: $desktop) {
            flex-basis: 170px;
            margin: 0;
    }

    @media screen and (min-width: $desktop){
        &:not(:first-child){
            margin-left: 30px;
        }
    }

 }

 .clients__thumb {
            display: flex;
            justify-content: center;
            align-items: center;
    
            border: 1px solid $client-color;
            border-radius: 4px;
            height: 92px;
            outline: transparent;
            fill: $client-color;

            @include animations(border-color, fill);

            &:hover,
            &:focus {
                    border-color: $accent-color;
                    fill: $accent-color;
            }
 }







