.section-team {
    background-color: $team-bg-color;
}

.team {
    
    @media screen and (min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
         margin: -15px;
    }

     @media screen and (min-width: $desktop) {
             flex-wrap: nowrap;
              margin: 0;
    
         }

    &__item {
            background-color: $primary-white-color;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
           
                @media screen and (max-width: 767px) {
                 &:not(:first-child) {
                     margin-top: 30px;
                    }
                }

                @media screen and (min-width: $tablet) {
                    flex-basis: calc((100% - 2 * 30px)/2);
                    margin: 15px;
            
                }

                @media screen and (min-width: $desktop) {
                flex-basis: auto;
                 margin: 0;
                
                 }

                 @media screen and (min-width: $desktop) {
                &:not(:first-child) {
                        margin-left: 30px;
                    }
                }
                        
     }


   &__information {
        padding: 30px 0;
       
   }

   &__members {
       margin-bottom: 10px;
       text-align: center;

       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;
       letter-spacing: 0.03em;
   }

   &__position {
       margin-bottom: 16px;
       text-align: center;

       color: $secondary-text-color;
       font-size: 16px;
       line-height: 1.18;
       letter-spacing: 0.03em;
   }
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item:not(:first-child) {
            margin-left: 10px;
        }
    
    &__thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $team-social-icons;
        
        @include animations(background-color, fill);
        
                }
        &__thumb:hover,
        &__thumb:focus {
            background-color: $accent-color;
            fill: $primary-white-color;
        }
}





